#countdown {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  color: #222;
}

#countdown div {
  margin: 10px;
}

#countdown .number {
  font-size: 10vw;
  min-width: 14vw;
  text-align: right;
}

#countdown .text {
  font-size: 4.5vmin;
}

#countdown a {
  color: #319f6a;
}

#references {
  margin: 10px;
  font-size: 4.5vmin;
}

#references a {
  text-decoration: none;
  color: #333;
}

#references a:visited {
  color: grey
}

#references a:hover, #references a:focus {
  text-decoration: underline;
  color: #333;
}
