<section id="countdown" class="width900">
  <div class="number">{{ count }}</div>
  <div class="text">
    days since the last Seattle link light rail accident
  </div>
</section>
<section id="references" class="width900">
  <p><a href="https://twitter.com/MikeLindblom/status/1559002967163805697" target="_blank"
    rel="noreferrer">Read more on Twitter</a></p>
  <p><a href="https://twitter.com/fbaum/status/1527415680596729856" target="_blank"
    rel="noreferrer">Previous accident was on 5/19/2022</a></p>
</section>
