:host {
  font-size: 3rem;
}

#title {
  background-color: #101a9a;
}

#title div {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 15px 10px 0px;
  text-align: right;
}

#stations {
  padding-top: 60px;
  padding-bottom: 60px;
  color: #222222;
}

#stations a {
  text-decoration: none;
  color: #222222;
}

#stations a:hover,
#stations a:focus {
  text-decoration: underline;
  color: #1c1c63;
}

#stations div {
  padding-left: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-repeat: no-repeat;
  background-position: left center;
  vertical-align: middle;
}

#stations div.start {
  background-image: url('/assets/LineStart.svg');
  min-height: 60px; /* Line dots are 60px */
  line-height: max(60px, 3rem); /* Max of min-height or font-size */
}

#stations div.end {
  background-image: url('/assets/LineEnd.svg');
  /* Line dots are 60px */
  min-height: 60px;
}

#stations div.station {
  background-image: url('/assets/LineStation.svg');
}

/* Portrait */
@media only screen
  and (max-device-width: 500px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
  :host {
    color: fuchsia;
    font-size: 2rem;
  }
}
