/* You can add global styles to this file, and also import other style files */
html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #40cf8b;
}

html,
body,
main,
section,
div,
ul,
li,
h1 {
    margin: 0px;
    padding: 0px;
}

#countdown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #101a9a;
}

#countdown div {
    margin: 10px;
}

#countdown .number {
    font-size: 17vmin;
    min-width: 19vw;
    text-align: right;
    /* background-color: aquamarine; */
}

#countdown .text .main {
    font-size: 4.5vmin;
}

#countdown .text .footnote {
    font-size: 2vmin;
}

#countdown a {
    color: #319f6a;
}

#stations {
    max-width: 900px;
    margin: 0 auto 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 3rem;
    color: #222222;
}

#stations div {
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
}

#stations div.start {
    background-image: url('/assets/LineStart.svg');
    /* Line dots are 60px */
    min-height: 60px;
}

#stations div.end {
    background-image: url('/assets/LineEnd.svg');
    /* Line dots are 60px */
    min-height: 60px;
}

#stations div.station {
    background-image: url('/assets/LineStation.svg');
}
